body {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-size: auto;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
p {
  text-align: center;
  display: block;
}

.croissant-image {
  max-width: 100%;
}
